body{
  background-color: #fff;
  font-family: arial;
  color: #222;
}
/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*.box{
  justify-content: center;
  text-align: left;
  min-height: 100%;
  color: #fff;
  background-color: #373d57;
  padding-top: 50px;
  padding-bottom: 100px;
  margin-bottom: 30px;


}*/
.b0x3{
  margin-bottom: 20px;
  margin-right: 80px;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.column3{
  margin-left: 90px;
}
.box2{
  margin-top: -48px;
  margin-left: 90px;
}
.column6{
  margin-left: 300px;
  margin-top: -205px;
}
.row1::after {
  content: "";
  clear: both;
  display: table;
}
.column7{
  margin-left: 540px;
  margin-top: -205px;
}
.column8{
  margin-left: 780px;
  margin-top: -203px;
}
.column10{
  margin-left: 280px;
  margin-top: -203px;
}
.column11{
  margin-left: 540px;
  margin-top: -203px;
}
.column12{
  margin-left: 790px;
  margin-top: -203px;
}
.column14{
  margin-left:-100px;
  /*margin-top: -203px;*/
}