body{
  background-color: #fff;
  font-family: arial;
  color: #222;
}

/* Media Queries: Tablet Landscape */
/*@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}*/

/* Media Queries: Tabled Portrait */
/*@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}*/

.hero1{
  margin-bottom: 20px;
  margin-right: 50px;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;

}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.column1{
  margin-left: 600px;
  /*margin-top: -190px;*/
}

.column5{
  margin-left: 280px;
  margin-top: -150px;
}
.column6{
  margin-left: 540px;
  margin-top: -180px;
}
.column7{
  margin-left: 800px;
  margin-top: -180px;
}
.column10{
  margin-left: 280px;
  margin-top: -203px;
}
.column11{
  margin-left: 540px;
  margin-top: -203px;
}
.column12{
  margin-left: 790px;
  margin-top: -203px;
}


}
.column14{
  margin-left:-180px;
  }